*{
    margin: 0;
    padding: 0;
}
body{
    
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/Gabès-tourisme.jpeg");
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    
    height: 20vh;
    
    
    
    position: relative;
}
.nav-area
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:#fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input[type=text], input[type=password] ,select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}